# decman
decman/install.log

# home
home/.zsh/**

home/wallpapers/**

home/.config/dunst/dunstrc
home/.config/foot/colors.ini
home/.config/fuzzel/colors.ini
home/.config/hypr/land/colors.conf
home/.config/hypr/hyprlock/**
home/.config/quickshell/ss/Common/Colors.qml

home/.config/quickshell/ss/.qmlls.ini

!home/.zsh/znap/
