[user]
	signingkey = 64C1338ADD335277
    email = jakubskowron766@proton.me
	name = Jakub Skowron
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = master
[core]
	autocrlf = input
[credential]
	helper = cache
[rerere]
	enabled = true
