[user]
	signingkey = 64C1338ADD335277
    email = jakubskowron766@proton.me
	name = Jakub Skowron
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = master
[core]
	autocrlf = input
[webui]
	autoupdate = true
[alias]
	webui = !/home/skowriii/.git-webui/release/libexec/git-core/git-webui
[credential]
	helper = cache
[rerere]
	enabled = true
